input {
  display:none
}

#name {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-variant: small-caps;
  font-size: large;
  font-weight: 700;
  color: black;
  float: right;
  display: block;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.nav{
  float: left;
  display: block;
}

.site-header{
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0;
  background: aquamarine;
  display: block;
  overflow: hidden;
  margin-left: 0;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 93.5vh;
  resize: both;

  margin-left: auto;
  margin-right: auto;
}

.navbtn {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border: none;
  background: none;
}

.navbtn:hover {
  background-color: #b3ffe6;
}

.navbtn:active {
  position:relative;
  top:1px;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.loading
{
  display: none;
}

/* 





text {
  display: inline-block;
  font-family: Trebuchet MS;
  font-size: 1.5vh;
}
button {
  font-family: Trebuchet MS;
  margin-bottom: 1vh;
  width: 80%;
  overflow: auto;

  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-size:1.5vh;
  font-weight:bold;
  padding:0.5vh 0.5vh;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
button:hover {
  background:linear-gradient(to bottom, #ffffff 30%, #a6a49f 100%);
  background-color:#f6f6f6;
}
button:active {
  position:relative;
  top:1px;
}
aside {
  width: 15vw;
  float: left;
  font-family: Trebuchet MS;
  background-color: #202020;
  color:white;
  margin-right: .3vw;
  border-radius:5px;
  margin-left: .3vw;
  overflow: auto;
  height: 90vh;
  position: relative;
  text-align: center;
}
.loading
{
  font-size: 3vh;
  display: none;
}
.downloadbtn
{
  width: 10%;
  margin-left: 2%;
}
.examplebtn
{
  width: 68%;
} */