input {
  display:none
}

#name {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-variant: small-caps;
  font-size: large;
  font-weight: 700;
  color: black;
  float: right;
  display: block;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.nav{
  float: left;
  display: block;
}

header {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0;
  background: aquamarine;
  overflow: hidden;
}

.navbtn {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  color: black;
}

.navbtn:hover {
  background-color: #b3ffe6;
}

.navbtn:active {
  position:relative;
  top:1px;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.loading
{
  display: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b3ffe6;
  min-width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content label {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 14px;
  color: black;
  padding: 1vh 1vw 1vh 1vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 14px;
  color: black;
  padding: 1vh 1vw 1vh 1vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .dropdown-content input {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 14px;
  color: black;
  padding: 1vh 1vw 1vh 1vw;
  text-decoration: none;
  display: block;
} */

.dropdown-content label:hover {background-color: #ccffee}

.dropdown-content a:hover {background-color: #ccffee}


/* .dropdown:hover .dropdown-content {
  display: block;
} */

.dropdowntitle {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  display: block;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.radioButtons{
  float: left;
  margin: 1vh 1vw 1vh 1vw;
  display: block;
}

#breadcrumbs {
  /* Content is centered vertically */
  padding-left: 4px;
  padding-bottom: 4px;
  align-items: center;
  display: flex;
}

#breadcrumbs a{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 13px;
}

#breadcrumbs div{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 13px;
}

.breadcrumb__separator {
  margin: 0 8px;
}

#breadcrumb-bar{
  display: none;
}

.row{
  display: grid;
}